.btn-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn-circle:hover {
  background-color: #0056b3;
}

.btn-circle i {
  font-size: 24px;
  margin-bottom: 8px;
}

.btn-circle .btn-text {
  font-size: 14px;
  margin-top: 8px;
}

.btn-danger {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 24px;
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-danger .btn-text {
  font-size: 14px;
  margin-top: 8px;
}
/* OpcionesAt.css / OpcionesReclutador.css */

.btn-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #007bff; /* Customize as needed */
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 60px;
}

.btn-circle.btn-danger {
  background-color: #dc3545; /* Customize as needed */
}

.btn-text {
  margin-top: 8px;
  text-align: center;
}

@media (max-width: 767px) {
  .btn-circle {
      width: 50px;
      height: 50px;
      font-size: 20px;
  }
}